body{
    font-size: 20px;
    background-color: #f9f9f9;
    font-family:'Montserrat',sans-serif;
    margin: 0px;
}
p,h1,h2,h3,ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
.container{
    margin: 0 auto;
    width: 1720px;
}
.header{
    padding: 41 0;
    border-bottom:2px solid #779611;
}
.header-container{
    display: flex;
    gap: 120px;
    align-items:center ;
}
.header-list{
    display: flex;
    gap: 80px;
}
.header-link{
    font-weight: 500;
    color: #707070;
    text-transform: capitalize;
}


.hero{
    border-bottom: 2px solid #779611;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-title{
    font-family: "Exo 2","sans-serif";
    font-weight: 600;
    font-size: 48;
    color: #779611;
    padding-bottom:50px ;
}
.hero-text{
    font-size: 24px;
    padding-bottom: 50px;
    max-width: 580px;

}
.hero-link{
    background-color:#779611 ;
    border-radius:40px;
    color:#f9f9f9;
    font-size: 32px;
    padding: 18px 70px 18px 70px;

}
.flaves{
    padding-top: 80px;
}

.flaves-title{
    font-family: "Exo 2","sans-serif";
    font-size: 36px;
    padding-top: 80px;
    color: #779611;
}
.flaves-text{
    padding-top: 35px;
    padding-bottom: 50px;
}
.flaves-list{
    display: flex;
    justify-content: space-between;
}
.flaves-name{
    font-size: 24px;
    font-weight: 400;
    padding: 35px 0px 15px 60px;
    color: #779611;

}
.flaves-price{
    padding-left:60px;

}

.subscription{
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid #779611;

}

.subscription-title{
    font-family: "Exo 2","sans-serif";
    font-size: 36px;
    padding-top: 80px;
    color: #779611;
}
.subscription-text{
    padding-top: 35px;
    padding-bottom: 50px;

}
.subscription-list{
    display: flex;
    justify-content: space-between;

}
.subscription-name{
    font-size: 24px;
    font-weight: 400;
    padding: 35px 0px 15px 60px;
    color: #779611;
}
.subscription-price{
    padding-left:60px;
}

.about{
    border-bottom: 2px solid #779611;
    padding-top: 114px;
    padding-bottom: 114px;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-subtitle{
    color: #779611;
    font-size: 24px;
    margin-bottom: 15px;
}

.about-title{
    color: #779611;
    font-size: 48px;
    margin-bottom: 35px;
}

.about-text{
    max-width: 560px;
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
}


.footer-link{
    font-weight: 500;
    color: #707070;
    text-transform: capitalize;
}

.footer-list{
    display: flex;
    font-weight: 500;
    color: #707070;
    text-transform: capitalize;
    flex-direction: column;
    gap: 20px;
}
.footer-wraper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-text{
    line-height: 2.2;
}
.footer-title{
    color: #707070;
    font-weight: 400;
}